{% extends 'layout.html' %}
{% block content %}
<div>
    <p>
        {{ city.name }}
        {% if coords_available %}
        ({{ city.latitude }},
        {{ city.longitude }})
        {% endif %}
    </p>
    <div>
        {% for stamp in weather.list %}
            <div>
                <p>
                    <span>
                    {{ stamp.main.temp }}
                    {% if units == 'standard'  %}K
                    {% elif units == 'metric' %}°C
                    {% elif units == 'imperial' %}°F
                    {% endif %}
                </span>
                </p>
                <p>
                    {{ stamp.weathe.0.description }}
                </p>
                    -{{ stamp.dt_txt }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}