{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <div class="form">
        <form action="/" method="post">
            {% csrf_token %}
            <div>
                <label class="form-item">
                    <input class="form-item-textfield" type="text" name="city" placeholder="City Name">
                </label>
                <button type="submit" class="form-item">View City</button><br>
                {% if user.is_authenticated %}
                <label class="form-item checkbox">
                    <input type="checkbox" name="add_to_list">
                    <span class="checkbox-text">Add city to your list?</span>
                </label>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="cities-grid">
        {% for city, weather in zipper %}
        <div class="cities-grid-item">
            <a href="{{ city.get_absolute_url }}">
                <div>
                    <img src="https://openweathermap.org/img/w/{{weather.weather.0.icon}}.png" alt="img">
                    <p>
                        <span>{{ city.name }}</span>
                    </p>
                    <p>
                        <span>
                            {{ weather.main.temp }}
                            {% if units == 'standard'  %}K
                            {% elif units == 'metric' %}°C
                            {% elif units == 'imperial' %}°F
                            {% endif %}
                        </span>
                        <p>
                            {{ weather.weather.0.description }}
                        </p>

                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
