{% extends 'layout.html' %}
<div>
{% block content %}
    <div>
        <form action="/" method="post">
            {% csrf_token %}
            <div>
                <label>
                    <input type="text" name="city" placeholder="City Name">
                </label>
                <button type="submit">View City</button><br>
                <label>
                    <input type="checkbox" name="add_to_list">
                    Add city to your list?
                </label>
            </div>
        </form>
    </div>
    <div>
        {% for city, weather in zipper %}
        <a href="{{ city.get_absolute_url }}">
            <div>
                <p>
                    <span>{{ city.name }}</span>
                </p>
                <p>
                    <span>
                        {{ weather.main.temp }}
                        {% if units == 'standard'  %}K
                        {% elif units == 'metric' %}°C
                        {% elif units == 'imperial' %}°F
                        {% endif %}
                    </span>
                    {{ weather.weather.0.description }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
</div>