<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What's the weather like?</title>
</head>
<body>
    <section>
        <div>
            <nav>
                <div>
                    <a href="/admin">Admin page</a>
                    <a href="/">Home page</a>
                </div>
                {% if user.is_authenticated %}
                    <div>
                        Hello {{ user.get_username }}
                        <a href="{% url 'profile' %}">Your profile</a>
                    </div>

                {% else %}
                    You are not logged in<br>
                    <a href="{% url 'login' %}">Log in</a>
                {% endif %}
            </nav>
        </div>
    </section>
    {% block content %}
    {% endblock %}
</body>
</html>